.btn {
    padding: $padding-base-vertical $padding-base-horizontal;

    &-lg {
        padding: $padding-large-vertical $padding-large-horizontal;
    }

    &-sm {
        padding: $padding-small-vertical $padding-small-horizontal;
    }

    &-xs {
        padding: $padding-xs-vertical $padding-xs-horizontal;
    }
}

.btn-group {
    .btn ~ .dropdown-toggle {
        padding-left: 16px;
        padding-right: 16px;
    }

    .dropdown-menu {
        border-top-width: 0;
    }

    &.dropup .dropdown-menu {
        border-top-width: 1px;
        border-bottom-width: 0;
        margin-bottom: 0;
    }

    .dropdown-toggle {
        &.btn-default ~ .dropdown-menu {
            background-color: $btn-default-bg;
            border-color: $btn-default-border;

            > li > a {
                color: $btn-default-color;
            }

            > li > a:hover {
                background-color: darken($btn-default-bg, 8%);
            }
        }

        &.btn-primary ~ .dropdown-menu {
            background-color: $btn-primary-bg;
            border-color: $btn-primary-border;

            > li > a {
                color: $btn-primary-color;
            }

            > li > a:hover {
                background-color: darken($btn-primary-bg, 8%);
            }
        }

        &.btn-success ~ .dropdown-menu {
            background-color: $btn-success-bg;
            border-color: $btn-success-border;

            > li > a {
                color: $btn-success-color;
            }

            > li > a:hover {
                background-color: darken($btn-success-bg, 8%);
            }
        }

        &.btn-info ~ .dropdown-menu {
            background-color: $btn-info-bg;
            border-color: $btn-info-border;

            > li > a {
                color: $btn-info-color;
            }

            > li > a:hover {
                background-color: darken($btn-info-bg, 8%);
            }
        }

        &.btn-warning ~ .dropdown-menu {
            background-color: $btn-warning-bg;
            border-color: $btn-warning-border;

            > li > a {
                color: $btn-warning-color;
            }

            > li > a:hover {
                background-color: darken($btn-warning-bg, 8%);
            }
        }

        &.btn-danger ~ .dropdown-menu {
            background-color: $btn-danger-bg;
            border-color: $btn-danger-border;

            > li > a {
                color: $btn-danger-color;
            }

            > li > a:hover {
                background-color: darken($btn-danger-bg, 8%);
            }
        }
    }
}
