.close {
    opacity: 0.4;
    text-decoration: none;
    text-shadow: none;

    &:hover, &:focus {
        opacity: 1;
    }
}

.alert {
    font-size: $font-size-small;
    font-weight: 300;

    .alert-link {
        font-weight: normal;
        color: #fff;
        text-decoration: underline;
    }
}

.label {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0;
    font-weight: 300;

    &-default {
        background-color: $btn-default-bg;
        color: $btn-default-color;
    }
}

.badge {
    font-weight: 300;
}

.progress {
    height: 22px;
    padding: 2px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    box-shadow: none;
}
