.navbar {
    border: none;
    font-size: 13px;
    font-weight: 300;

    .navbar-toggle:hover .icon-bar {
        background-color: #b3b3b3;
    }

    &-collapse {
        border-top-color: $dropdown-divider-bg;
        box-shadow: none;
    }

    .btn {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    &-form {
        margin-top: 7px;
        margin-bottom: 5px;

        .form-control {
            height: auto;
            padding: $padding-xs-vertical $padding-xs-horizontal;
        }
    }

    &-text {
        margin: 12px 15px;
        line-height: 21px;
    }

    .dropdown {
        &-menu {
            border: none;

            > li > a, > li > a:focus {
                background-color: transparent;
                font-size: 13px;
                font-weight: 300;
            }
        }

        &-header {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &-default {
        .dropdown-menu {
            background-color: $navbar-default-bg;

            > li > a, > li > a:focus {
                color: $navbar-default-color;
            }

            > li > a:hover, > .active > a, > .active > a:hover {
                background-color: $navbar-default-link-hover-bg;
            }
        }
    }

    &-inverse {
        .dropdown-menu {
            background-color: $navbar-inverse-bg;

            > li > a, > li > a:focus {
                color: $navbar-inverse-color;
            }

            > li > a:hover, > .active > a, > .active > a:hover {
                background-color: $navbar-inverse-link-hover-bg;
            }
        }
    }
}
